@section head{
    <link rel="stylesheet" href="~/Content/Styles/svg.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pto.js"></script>
}

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Message</h2>
<form class="form-inline">
    @*<div class="row">
        <div class="col-md-1">*@
    <div class="form-group">

    <input id="spinner" placeholder="Радиус" aria-describedby="basic-addon1" name="value" />
    @*</div>
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <div class="input-group">*@
    @*<span class="input-group-addon">
    </span>*@
        <input type="checkbox" id="needCircles" checked="checked" />
        <label for="needCircles">Отобразить окружности</label>
    </div>
    @*</div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>*@
</form><!-- /.row -->
<h2></h2>
<div id="svg-content">
    <svg id="pto-drawer">
        @{Html.RenderPartial("GetSvg");}
    </svg>
</div>
